<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalthed.tucan"
    android:versionCode="30"
    android:versionName="0.3.5" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    


    <application
        android:name=".TucanMobile"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TucanActionBar" >
        <activity
            android:name=".TuCanMobileActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainMenu"
            android:label="mainmenu"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Vorlesungsverzeichnis -->
        <activity
            android:name=".ui.VV"
            android:label="Vorlesungsverzeichnis" >
        </activity>
        <activity
            android:name=".ui.VV_Events"
            android:label="Vorlesungen" >
        </activity>

        <!-- Veranstaltungen -->
        <activity
            android:name=".ui.Events"
            android:label="Veranstaltungen" >
        </activity>
        <activity
            android:name=".ui.SingleEvent"
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltung" >
        </activity>
        <activity
            android:name=".ui.FragmentSingleEvent"
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltung" >
        </activity>
        <activity
            android:name=".ui.ApplyEvent"
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltungsanmeldung" >
        </activity>
        <activity
            android:name=".ui.Module"
            android:label="Module" >
        </activity>

        <!-- Prüfungen -->

        <activity
            android:name=".ui.Exams"
            android:label="Prüfungen" >
        </activity>
        <activity
            android:name=".ui.RegisterExams"
            android:label="Anmeldung zu Prüfungen" >
        </activity>

        <!-- Stundenplan -->

        <activity
            android:name=".ui.Schedule"
            android:label="Stundenplan" >
        </activity>

        <!-- Nachrichten -->
        <activity
            android:name=".ui.Messages"
            android:label="Nachrichten" >
        </activity>
        <activity
            android:name=".ui.SingleMessage"
            android:label="Nachricht" >
        </activity>
        <activity
            android:name=".acraload.LoadAcraResults"
            android:configChanges="keyboardHidden|orientation"
            android:label="ACRA" >
        </activity>
        <!-- Einstellungen -->
        <activity
            android:name=".preferences.MainPreferences"
            android:label="Sicherheitseinstellungen" >
        </activity>
        <receiver
              android:label="TuCan Stundenplan"
              android:name=".widget.WidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/widget_provider" />
    </receiver>
    <service android:name=".widget.WidgetService"
             android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>