<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalthed.tucan"
    android:versionCode="24"
    android:versionName="0.2.1_debug" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".TucanMobile" 
        android:theme="@style/Theme.TucanActionBar" >
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".TuCanMobileActivity"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="mainmenu"
            android:name=".ui.MainMenu"
            android:screenOrientation="portrait"
            >
        </activity>

        <!-- Vorlesungsverzeichnis -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Vorlesungsverzeichnis"
            android:name=".ui.VV"
           >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Vorlesungen"
            android:name=".ui.VV_Events"
            >
        </activity>

        <!-- Veranstaltungen -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltungen"
            android:name=".ui.Events"
            >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltung"
            android:name=".ui.SingleEvent"
            >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltung"
            android:name=".ui.FragmentSingleEvent"
             >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Veranstaltungsanmeldung"
            android:name=".ui.ApplyEvent"
            >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Module"
            android:name=".ui.Module"
            >
        </activity>

        <!-- Prüfungen -->

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Prüfungen"
            android:name=".ui.Exams"
             >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Anmeldung zu Prüfungen"
            android:name=".ui.RegisterExams"
             >
        </activity>

        <!-- Stundenplan -->

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Stundenplan"
            android:name=".ui.Schedule"
             >
        </activity>

        <!-- Nachrichten -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Nachrichten"
            android:name=".ui.Messages"
             >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Nachricht"
            android:name=".ui.SingleMessage"
             >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="ACRA"
            android:name=".acraload.LoadAcraResults" >
        </activity>
        <!-- Einstellungen -->
        <activity
            android:label="Sicherheitseinstellungen"
            android:name=".preferences.MainPreferences" >
        </activity>
    </application>

</manifest>